<div class="left-pane-container" [ngStyle]="{'left': leftpaneToggle.toggle ? '0' : '-407px' }">
        <div class="view left-pane-container-main" >
            <div class="left-pane-menu">
                <div class="menu-container">
                    <ul class="left-pane-menu-list">
                        <li  class="left-pane-menu-list-item">Direction</li>
                    </ul>
                </div> 
            </div> 
            <div class="form-container">
                <div class="form-container-control">
                    <label for="depart" title="Point de depart" class="form-container-control-label"> <div><span>A</span> </div> </label>
                    <input #depart (focus)="setSearchBoxDisplay(depart)" (keyup)="keyUpTextChange($event,depart)" 
                     (keydown)="keyDownTextChange($event,depart)" (blur)="removeSearchBox()" type="text" title="Point de depart"
                     class="form-container-control-in" name="depart" placeholder="Point de depart" id="id">
                </div>

                <div class="form-container-control">
                    <label for="destination" title="Point d'arriver" class="form-container-control-label"> <div><span>B</span></div>  </label>
                    <input #destination (focus)="setSearchBoxDisplay(destination)" (blur)="removeSearchBox()"  (keyup)="keyUpTextChange($event,destination)"
                    type="text" title="Point d'arriver" class="form-container-control-in" name="destination" placeholder="Point d'arriver" (keydown)="keyDownTextChange($event,destination)">
                </div>

                <div  class="form-container-control">
                    <label title="Moyen de transport" for="depart" class="form-container-control-label"> <div><span>T</span> </div> </label>
                    <select title="Moyen de transport" #transport  class="form-container-control-in" name="transport" id="transport">
                        <option value="car"> Voiture</option>
                        <option value="bike">Biciclette</option>
                        <option value="foot">A pied</option>
                    </select>
                
                </div>

                <div class="form-container-control flex-d-end">
                    <input type="button" (click)="getDirection()" [disabled]="!localisationA || !localisationB"
                    class="form-container-control-btn" value="voir direction">
                </div>
            </div>

            <div (mouseover)="mouseOver()" (mouseleave)="mouseLeave()" class="search-box-container">
                <ng-template  appSearch></ng-template>
            </div>
        </div>
        <div class="btn-toggle-container">
            <button (click)="leftPaneToggle()"> 
                <img [src]="leftpaneToggle.imgPath" alt="img" srcset="">
            </button>
        </div>
        
        <div *ngIf="errorMessage" class="error">
            {{errorMessage}}
        </div>
</div>
