#main{
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: stretch;
    overflow: hidden;
    height: 100vh;
    font-family: "roboto", sans-serif;
    

    & .map-pane{
        flex-grow: 2;
    }
}